<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=""utf-8>
    <title>Henry About Me</title>
</head>
<body>
<!-- This covers the Navbar -->
	<nav class="navbar navbar-fixed-top">
        <div class="container navbar-inner">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Henry Curtis</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div>
        {% block page_content %}
        {% endblock %}
    </div>
</body>
</html>